<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>About Us - NLP Team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/custom.css">
</head>

<body>

     <!-- Nav section -->
    <div class="inner-header" style="padding: 11px;">
        <div class="header clearfix">
            <nev>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <ul class="nav nav-pills float-left">
                            <li class="nav-item"><a class="nav-link" style="color:rgb(122, 88, 191)" href="{{ url_for('home') }}">Home</a></li>
                        </ul>
                        <ul class="nav nav-pills float-right">
                            <li class="nav-item"><a class="nav-link active" href="{{ url_for('about') }}" style="background-color:rgb(122, 88, 191);">About Us</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </nev>
        </div>
    </div>

    <!-- Cut Edge Section section -->
    <div class="container-fluid p-3 p-md-1" style="background-color: #343a40">

    </div>

    <!-- HELLO section -->
    <div class="container" style="padding: 20px">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col">
                <h2 align="center">MEET OUR TEAM</h2>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>


    <!-- About Content -->
    <div class="container-fluid" id="nlp-team" style="padding: 50px">
        <div class="row">
            <div class="col-md-1"></div>
            <!-- Team Member 1 -->
            <div class="col-md-2">
                <div class="card border-0 shadow">
                    <img src="/static/images/meng.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h6 class="card-title mb-0">Boontawee SUNTISRIVARAPORN</h6>
                        <div class="card-text text-black-50">Lead Data Scientist</div>
                    </div>
                </div>
            </div>
            <!-- Team Member 2 -->
            <div class="col-md-2">
                <div class="card border-0 shadow">
                    <img src="/static/images/keaw.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h6 class="card-title mb-0">Peerasak INTARAPAIBOON</h6>
                        <div class="card-text text-black-50">Senior Data Scientist</div>
                    </div>
                </div>
            </div>
            <!-- Team Member 3 -->
            <div class="col-md-2">
                <div class="card border-0 shadow">
                    <img src="/static/images/new.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h6 class="card-title mb-0">Jirayut KEAWCHUEN</h6>
                        <div class="card-text text-black-50">Data Scientist</div>
                    </div>
                </div>
            </div>
            <!-- Team Member 4 -->
            <div class="col-md-2">
                <div class="card border-0 shadow">
                    <img src="/static/images/boyd.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h6 class="card-title mb-0">Sorratat SIRIRATTANAJAKRIN</h6>
                        <div class="card-text text-black-50">Data Scientist</div>
                    </div>
                </div>
            </div>
            <!-- Team Member 5 -->
            <div class="col-md-2">
                <div class="card border-0 shadow">
                    <img src="/static/images/aom.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h6 class="card-title mb-0">Salin SUPAPRUKSAPONG</h6>
                        <div class="card-text text-black-50">Project Manager</div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <!-- /About content -->

     <!-- Cut Edge Section section -->
    <div class="container-fluid p-3 p-md-1" style="background-color: #343a40">

    </div>

    <!-- Footer section -->
    <footer class="bd-footer text-muted" style="background-color:rgb(70, 34, 121);">
        <div class="container-fluid p-3 p-md-5">
            <font color="white">
                <div class="row">
                    <div class="col-md-8">
                        <h4>Licence</h4>
                        <p>© SCB and NLP Team since 2019</p>
                        <p>Data Science Division</p>
                        <p>Last modified July 2019</p>
                    </div>
                    <div class="col-md-4">
                        <h4>Contributor</h4>
                        <small>Lead Professional Data Scientist</small>
                        <p>Boontawee SUNTISRIVARAPORN</p>
                        <small>Product Manager</small>
                        <p>Salin SUPAPRUKSAPONG</p>
                        <small>Senior Professional Data Scientist</small>
                        <p>Peerasak INTARAPAIBOON</p>
                        <small>Professional Data Scientist</small>
                        <p>Sorratat SIRIRATTANAJAKRIN</p>
                        <small>Professional Data Scientist</small>
                        <p>Jirayut KEAWCHUEN</p>
                    </div>
                </div>
            </font>
        </div>
    </footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>